{% extends base_template %}

{% block content %}
{% load staticfiles %}
<!-- Links at the top of the page -->
<div class='links'>
	<a href= '/' class='button'>Home</a>
	<a href= '{% url "index" %}' class='button'>Make a postcard</a>
	<a href= '{% url "gallery" %}' class='button'>View Gallery</a>
	<br>
</div>

<!-- Canvas for holding the image being edited -->
<div id='container' class='container' style='width:{{ im_width }}px; height:{{ im_height }}px;'>
	<canvas id='my_canvas' style='width:{{ im_width }}px; height:{{ im_height }}px; z-index:1;'></canvas>
</div>

<!-- Editor options -->
<div id='editor'>
	{% for item in edit_form %}
	{{ item }}
	{% endfor %}
</div>

<!-- Submission form -->
<div id='submission'>
	<form id='main_form' action='{% url "index" %}' onsubmit='return process_form(event)' method='post' enctype='multipart/form-data'>{% csrf_token %}
		{% for item in upload_form %}
			{% if forloop.counter > 1 %}
				{{ item.label }} {{ item }}
				{% if forloop.counter > 4 %}
					<br class='email_text'>
				{% else %}
					<br>
				{% endif %}
			{% endif %}
		{% endfor %}
		<input id='submit_upload' type='submit' value='Submit'>
	</form>
</div>

<!-- Scripts -->
<script src='{% static "postcard/js/editor_functions.js" %}'></script>
<script src='{% static "postcard/js/form_functions.js" %}'></script>
{% endblock content %}